body {
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
}

a {
  color: #337ab7;
}
#scholarWorksTable {
}
div.dataTables_wrapper div.dataTables_filter {
  text-align: left;
  top: 0px;
  position: fixed;
  width: 100%;
  background-color: #fff;
  height:40px;
  z-index: 999;
}

#data-table-container{
  margin-top: 40px !important;
}

.page-link {
  color: #337ab7;
}

.active>.page-link, .page-link.active {
    color: #fff;
    background-color: #337ab7;
    border-color: #337ab7;
}
