body {
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
}

a {
  color: #337ab7;
}
#scholarWorksTable {
  padding:20px;
}
div.dataTables_wrapper div.dataTables_filter {
  text-align: left;
}
.page-link {
  color: #337ab7;
}

.active>.page-link, .page-link.active {
    color: #fff;
    background-color: #337ab7;
    border-color: #337ab7;
}
